body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;

}

#center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.leftAlign{
  text-align: left;
}

#title {
  color: #b30738;
  margin-bottom: 20px;
}

#subTitle{
  border-color:#dfdbd3;
  background-color: #fff;
  color:#b30738;
  padding:5px;
  border-radius:35px;
}

#info{
  margin-left: 98px;
  margin-right:98px;
}

.checkbox-group input,
.radio-group input{
  margin-right: 10px;
}

#signUp{
  background-color:#dfdbd3;
  border-radius:40px;
  padding: 37px;
  align-items:center;
  margin:10px;
}

#formSpace{
  border: 2px solid #b30738;
  background-color: #fff;
  color: #b30738;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.checkbox-group,
.radio-group{
  margin-bottom: 15px;
}

input[type="text"],
textarea{
  width: calc(100% - 8px);
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button{
  background-color: #b30738;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
  background-color: #4e4540;
}

.home{
  margin:10px;
  background-color: #FBFFFE;
  display:flex;
  text-align:center;
  padding: 10px;
  width:100%;
  margin:auto;
}

#broncoCenter{
  color:#b30738;
  font-weight: bold;
}
.flexTitle{
  text-align: center;
  width: 400px;
  background-color: #dfdbd3;
  border-radius: 40px;
  margin: 10px;
  margin-right:50px;
  padding:20px;
}

.flexInfo{
  text-align: center;
  margin-top: 20px; 
  background-color: #b30738;
  padding: 15px;
  border-radius: 40px;
  color:#FBFFFE;
}

.flexParent{
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.flexChild{
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.search-button, .match-button{
  background-color: #b30738;
  color: #fff;
  border: 1px solid #4e4540;
  font-weight: bold;
  height: 46px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.search-button:hover, .match-button:hover{
  background-color: #4e4540;
}

.search-button:active, .match-button:active{
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}